POSTGRES_PASSWORD=n2sf_lab_pw
POSTGRES_USER=n2sf
POSTGRES_DB=n2sf
OPA_URL=http://opa:8181/v1/data/financial/access/decision
CDS_OPA_URL=http://opa:8181/v1/data/financial/cds/decision
REQUEST_TIMEOUT=5.0
